In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
data = pd.read_csv('data/task3/rawdata.csv')

data.head()

,date,time,sensor,location,number,activity,position,location.1
0,1/16/2024,10:10:30 AM,0.0,A1,1,placed,inside,A1
1,1/16/2024,10:12:30 AM,1.0,A2,1,picked,inside,A2
2,1/16/2024,10:28:30 AM,1.0,A3,1,picked,Inside,A3
3,1/16/2024,10:38:20 AM,0.0,A4,1,placed,Inside,A4
4,1/16/2024,10:45:20 AM,1.0,A5,1,placed,inside,A5

In [6]:
data.nunique()

date            3
time          140
sensor          2
location       34
number          2
activity        2
position        3
location.1     34
dtype: int64

In [10]:
data['date'] = pd.to_datetime(data["date"])
data['timestamp'] = pd.to_datetime(data['time']).dt.time


data.head(
)

C:\Users\DELL\AppData\Local\Temp\ipykernel_10076\2447427381.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['timestamp'] = pd.to_datetime(data['time']).dt.time

,date,time,sensor,location,number,activity,position,location.1,timestamp
0,2024-01-16,10:10:30 AM,0.0,A1,1,placed,inside,A1,10:10:30
1,2024-01-16,10:12:30 AM,1.0,A2,1,picked,inside,A2,10:12:30
2,2024-01-16,10:28:30 AM,1.0,A3,1,picked,Inside,A3,10:28:30
3,2024-01-16,10:38:20 AM,0.0,A4,1,placed,Inside,A4,10:38:20
4,2024-01-16,10:45:20 AM,1.0,A5,1,placed,inside,A5,10:45:20